<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/styles.css">
    <title>Tienda de Juegos</title>
</head>
<body onload="carga()">
    <header>
        <h1>Tienda de Juegos</h1>
    </header>
    <main>
        <section class="game" id = "Juego 1">
        </section>
        <section class="game" id = "Juego 2">
        </section>
        <section class="game" id = "Juego 3">
        </section>
        <section class="game" id = "Juego 4">
        </section>
    </main>
    <footer>
        <p>Tienda de Juegos - Grupo #6 &copy;</p>
    </footer>
</body>
<script src="../Assets/js/functionsTienda.js"></script>
</html>
