<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/styles.css">
    <title>Tienda de Juegos</title>
</head>
<body onload="obtenerJuego('8 Ball Pool')">
    <header>
        <h1>Tienda de Juegos</h1>
    </header>
    <main>
        <section class="game" id = "Juego 1">
        </section>
        <section class="game">
            <img src="game2.jpg" alt="Juego 2">
            <h2>Juego 2</h2>
            <p>Precio: $39.99</p>
            <button>Comprar</button>
        </section>
        <section class="game">
            <img src="game3.jpg" alt="Juego 3">
            <h2>Juego 3</h2>
            <p>Precio: $24.99</p>
            <button>Comprar</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Tienda de Juegos</p>
    </footer>
</body>
<script src="../Assets/js/functionsTienda.js"></script>
</html>
